@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 255, 255;
  color: black;
}

@media (prefers-color-scheme) {
  :root {
    background-color: #f6f9fc;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cl-formButtonPrimary {
  background-color: #52367e;
}

.cl-internal-b3fm6y {
  display: none !important;
}

@media (max-width: 600px) and (min-width: 300px) {
  .sidenav {
    margin-top: 3rem;
    height: 50%;
    padding-top: 10px;
  }

  /* .sidenav-logo{
    display: none;
  } */
}
